

.heroSection{

  background-image: url("../public/images/herofilm.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroSection::before{
    content: "";
    background: rgb(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
.heroSection >*{
    position: relative;
    z-index: 2;
}
.heroSection h1{
  font-weight: 700;
  color: white;
  font-size: 80px;
  margin-bottom: 0;
}

.red {
  color:#d7263d;
}

.heroSection p{
  font-family: "Poppins";
  font-weight: 400;
  color: #d7263d;
  font-size: 30px;
  text-shadow: 0 6px 6px  #020202;
}


.top10Section {
  margin: 0 20px;
  padding-top: 40px;
  display: flex;
 flex-direction: column;
 gap: 20px;
 margin: 0 20px;

}

.cardsContainer {
  display: flex;       
  gap: 100px;
  overflow-x: auto;     
  scroll-behavior: smooth;
  padding-bottom: 10px; 
}
.cardsContainer::-webkit-scrollbar {
  display: none; 
}


.movieCard {
  text-decoration: none !important;
  background-color: #0197F6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.movieCard img {
  width: 240px;
  height: 272px;
  /* object-fit: cover; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.movieCard:hover {
  transform: translateY(3px) scale(1.03);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.5);
}

.movieCard h1 {
  margin: 0px;
  padding: 9px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.movieCardRed {
  text-decoration: none !important;
  background-color: #d7263d;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.movieCardRed img {
  width: 240px;
  height: 272px;
  /* object-fit: cover; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.movieCardRed:hover {
  transform: translateY(3px) scale(1.03);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.5);
}

.movieCardRed h1 {
  height: 40px;
  margin: 0px;
  padding: 9px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.categorie{
  display: flex;
 flex-direction: column;
 margin: 0 20px;
}
.categorieName{
  display: flex;
  justify-content: space-around;
}
.categorieName button{
  width: 132px;
  height: 39px;
  outline: none;
  color: white;
  border-radius: 40px;
  background:
    linear-gradient(#02182B, #02182B) padding-box,
    linear-gradient(
      
      #0197F6,
      #02182B,
      #d7263d
    ) border-box;
  border: 4px solid transparent;
}

.containerDetails{
  position: relative;
  padding-top: 50px;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Overlay sombre */
.containerDetails::before{
    content: "";
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 1; */
}

/* Quand on affiche la vidéo, on cache l’overlay */
.containerDetails.noOverlay::before {
    display: none;
}

.containerDetails >*{
    position: relative;
    /* z-index: 2; */
}

/* Détails film */
.details{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}
.blue{
  color: #0197F6;
}
.details p {
  font-size: 25px;
  font-family: "Poppins";
  font-weight: 200;
}

/* Bouton Play */
.playButton {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 30px;
  font-size: 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color:#0197F6;
  color: white;
  transition: 0.3s;
  z-index: 2;
}
.playButton:hover {
  background-color: #d7263d;
}

/* Overlay vidéo */
.videoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Conteneur vidéo */
.videoContainer {
  background: black;
  padding: 10px;
  border-radius: 10px;
  z-index: 10000;
  top: 50%;
  left: 10%;
}

.backButton {
  position: absolute;
  top: 65px;
  left: 10px;
  font-size: 28px;
  color: white;
  background: linear-gradient(
    
    #0197F6 0%, 
    #02182B 50%, 
    #d7263d 100% 
  );
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  backdrop-filter: blur(3px);
  z-index: 3;
  transition: 0.3s;
}

.backButton:hover {
  background: #f32c46;
}
