

.heroSection{
  background-image: url("../public/images/herofilm.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroSection::before{
    content: "";
    background: rgb(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
.heroSection >*{
    position: relative;
    z-index: 2;
}
.heroSection h1{
  font-weight: 700;
  color: white;
  font-size: 80px;
  margin-bottom: 0;
}

.red {
  color:#d7263d;
}

.heroSection p{
  font-family: "Poppins";
  font-weight: 400;
  color: #d7263d;
  font-size: 30px;
  text-shadow: 0 6px 6px  #020202;
}

/* .top10Section img{
  width: 200px;
  height: 300px;
} */

.top10Section {
  /* padding: 20px; */
  margin-left: 20px;
  /* background-color: #f9f9f9; */
}

.top10Section h2 {
  margin-bottom: 20px;
}

.cardsContainer {
  display: flex;          /* utiliser flex pour le scroll horizontal */
  gap: 100px;
  overflow-x: hidden;       /* scroll horizontal */
  scroll-behavior: smooth;
  padding-bottom: 10px;   /* espace pour le scroll */
  

}

.movieCard {
  /* flex: 0 0 calc(33.33% - 20px); largeur de chaque card : 1/3 - gap */

  background-color: #0197F6;
  /* border-radius: 10px; */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.movieCard img {
  width: 240px;
  height: 272px;
  /* object-fit: cover; */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.movieCard h1 {
  margin: 0px;
  padding: 9px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
