

.heroSection{
  background-image: url("../public/images/herofilm.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroSection::before{
    content: "";
    background: rgb(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
.heroSection >*{
    position: relative;
    z-index: 2;
}
.heroSection h1{
  font-weight: 700;
  color: white;
  font-size: 80px;
  margin-bottom: 0;
}

.red {
  color:#d7263d;
}

.heroSection p{
  font-family: "Poppins";
  font-weight: 400;
  color: #d7263d;
  font-size: 30px;
  text-shadow: 0 6px 6px  #020202;
}