body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
background-color: #02182B;
color: aqua;
}
nav{
width: 100%;
top:0;
display: flex;
justify-content:space-between;
height:50px ;
position: fixed;
background-color: #02182B;
z-index: 2;
}
#logoNav{
width: 200px;
height: 50px; 
}
#contactIcone{
width: 45px;
height: 45px;  
}
