body {
background-color: #02182B;
color: aqua;
}
nav{
top:0;
display: flex;
justify-content: space-between;
height:50px ;
position: fixed;
}
#logoNav{
width: 200px;
height: 50px; 
}
#contactIcone{
width: 45px;
height: 45px;  
}
