body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
background-color: #02182B;
color: aqua;
}
nav{
display: flex;
justify-content:space-between ;
height:50px ;
top:0;
position: fixed;
}
#logoNav{
width: 200px;
height: 50px; 
}
#contactIcone{
width: 45px;
height: 45px;  
}
